@import "./mixin";
html,body{
  font-size:14px;
}

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
    outline: none;
  }
}
a {
  color: rgb(2, 146, 213);
}
html,body,#app{
  height: 100%;
}
#app{
  background-color: #fff;
}


.little-font{
  font-size: 12px;
}
/*子组件过度效果*/
.router-slid-enter-active,.router-slid-leave-active{
  transition: all 0.4s;
}
.router-slid-enter,.router-slid-leave-active{
  transform: translateX(2rem);
  opacity: 0;
}
//通用子路由页面样式
.rating-page{
  position: fixed;
  top: 0; //不要顶
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: #f5f5f5;
  //z-index: 204;
  overflow-y: auto;
  //padding-top: 1.95rem;
  p, span, input{
    font-family: Helvetica Neue,Tahoma,Arial;
  }
}
//设置文字溢出
.tdd{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*规格弹窗样式*/
.shadow{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgba(0,0,0,.4);
  z-index: 17;
}
/*fade切换*/
.fade-choose-enter-active,.fade-choose-leave-active{
  transition: opacity .5s;
}
/*动画结束隐藏元素*/
.fade-choose-leave,.fade-choose-leave-active{
  display: none;
}
.btn-container {
  margin: 0.2rem auto;
  padding: 0 0.15rem;
  .mint-button{
    height:45px;
    line-height: 45px;
  }
}
//顶部提示
.tip_con{
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  .top_tip{
    line-height: 50px;
    color:#fff;
  }
}
//分割块
.divider-block{
  width: 100%;
  height:.1rem;
  background-color: #f5f5f5;;
}
//显示列表块
.info-block-item{
  margin-bottom: .1rem;
  .mint-cell-wrapper{
    background-image: none;
  }
  .info-block-item-header{
    align-items: center;
    @include fj();
    box-sizing: border-box;
    margin-left:.15rem;
    padding:0 .1rem;
    height:48px;
    line-height: 48px;
    font-size: 16px;
    position: relative;
    a{
      font-size: 14px;
    }
    &:after{
      content: ' ';
      background-color:$color-primary;
      width:3px;
      height:.12rem;
      border-radius: 3px;
      position: absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
    }
  }
  .info-item-cell{
    @include fj(flex-start);
    height:45px;
    line-height:45px;
    padding:0 .15rem;
    color:#888;
    &.cell-small{
      height:35px;
      line-height:35px;
    }
  }

}
//checkbox span模拟
span.checkbox{
  display: inline-block;
  width: .2rem;
  height: .2rem;
  background:url('../../assets/icons/check_box.png') no-repeat;
  background-size: 100% 100%;
  &.selected{
    background:url('../../assets/icons/checkbox_red.png') no-repeat;
    background-size: 100% 100%;
  }

}
