//scss文件覆盖部分组件样式
@import "./mixin";

.mint-button {
  font-size: 14px;
  height: 35px;

  &.disabled {
    background-color: #bbb;
  }
}

//按钮样式
.mint-button--primary {
  background-color: $color-primary;
}

.mint-button {
  border-radius: 30px;

}

//switch
.mint-switch-input:checked+.mint-switch-core {
  border-color: $color-primary;
  background-color: $color-primary;
}

//表单样式 线框
.field-item-container {
  .mint-cell:first-child .mint-cell-wrapper {
    background-origin: content-box;
  }

  .mint-cell-wrapper {
    padding: 0 .15rem;
    background-size: 100% 1px;
    font-size: 14px;
    background-position: bottom left;
  }

  .mint-field .mint-cell-title {
    width: 85px;
  }
}

// 修改cell label宽度
.form {
  .mint-cell-title {
    flex: none;
    width: 105px;
  }
}

.mint-cell-value {
  color: #333;
}

// .info-block-item{
//   .mint-cell-text{
//     color:#888;
//   }
//   .mint-cell-value{
//     color:#333;
//   }
// }

.mint-field-state.is-default {
  margin-left: .07rem;
}

.mint-cell:last-child {
  background-image: none;
}
.picker-slot{
  font-size: 16px;
}

// 国美界面部分组件样式覆盖
.simple-form{
  .mint-cell-wrapper {
    background-image: none;
  }
  .mint-cell{
    background-color: transparent;
  }
  &.field-item-container .mint-cell {
    padding: 0 .37rem;
    margin-bottom: .15rem;
    .mint-cell-wrapper{
      border: 1px solid #C9C8CD;
      border-radius: .3rem;
    }
  }
}
.guomei-page{
  .mint-button--primary {
    background-color: $gm-color-primary;
  }
}

.rn-page{
  .mint-button--primary {
    background-color: $rn-btn-color;
  }
  .mint-cell-wrapper{
    padding: 0 .15rem;
    background-image: none
  }
}